.service div img {

    border-radius: 20px;
}

.service div div {
    width: 321px;
    height: 144px;
    padding: 20px;
    color: white;
    background:#343268;opacity: 75%;
}

.service div div h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    text-align: left;

}

.service div div p {

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 219px;
    opacity: 90%;
    font-size: 12px;

}