.text_side p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.text_side h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
   

}

.text_side button {
    padding: 12px 16px 12px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.7px;
    text-align: center;

}

.extra_section h1 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
  
}

